.input-group {
  position: relative;
  margin-bottom: 1rem;
}

label {
  display: block;
  clear: both;

  font-size: 0.8rem;
  margin-bottom: 0.2rem;

  color: #666;

  &.error {
    color: #ff0000;
  }
}
