select {
  // width: 100%;
  padding: 0.5rem;

  border: 1px solid #222222;
  border-radius: 8pt;

  font-family: "Inter", sans-serif;

  background: #111;

  &:active,
  &:focus {
    outline: none;
    border-color: #666666;
  }
}
